<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Logo</th>
              <th scope="col">Name</th>
              <th scope="col">Symbol</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <% let count = 0; %> <% coins.data.forEach(coin => { %> <% count++
            %>
            <tr>
              <th scope="row"><%= count %></th>
              <th>
                <img src="<%= coin.logo_url %>" alt="" width="" height="24" />
              </th>
              <td><%= coin.name %></td>
              <td><%= coin.symbol %></td>
              <td><%= coin.price %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
