<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      <div class="container">
        <h4 class="display-5 fw-bold">Welcome, <%= userName %></h4>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Logo</th>
              <th scope="col">Name</th>
              <th scope="col">Symbol</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <!-- Show 10 coins -->
            <% for (i = 1; i <= 10; i++) { %>
            <tr>
              <th scope="row"><%= i %></th>
              <th>
                <img
                  src="<%= coins.data[i].logo_url %>"
                  alt=""
                  width="auto"
                  height="24"
                />
              </th>
              <td><%= coins.data[i].name %></td>
              <td><%= coins.data[i].symbol %></td>
              <td><%= coins.data[i].price %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
