<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      <div class="col-lg" style="text-align: center">
        <br />

        <img
          class="bd-placeholder-img rounded-circle"
          width="240"
          height="240"
          src="<%= profilePicture %>"
          alt="Profile picture"
        />

        <br />
        <br />

        <h4 class="display-5 fw-bold"><%= displayName %></h4>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
