<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      <div class="container">
        <h4 class="display-5 fw-bold">Wallet</h4>
        <p><%= userData.cash %></p>

        <br />

        <p><%= userData.wallet %></p>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
